h1 {
    background: linear-gradient(to top,#a38c0a 0%, #000000 100%);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; 
    z-index: 999;
}